In [2]:
from tia.bbg import LocalTerminal
import pandas as pd

In [4]:
resp = LocalTerminal.get_reference_data('MSFT US EQUITY', ['PX_LAST', 'GICS_SECTOR_NAME', 'VOLATILITY_30D'])
resp.as_frame()

                PX_LAST        GICS_SECTOR_NAME  VOLATILITY_30D
MSFT US EQUITY    62.58  Information Technology       20.414003

In [7]:
resp = LocalTerminal.get_reference_data(['ED1 COMDTY', 'MSFT US EQUITY'], ['PX_LAST', 'GICS_SECTOR_NAME'], ignore_field_error=1)
resp.as_frame()

                PX_LAST        GICS_SECTOR_NAME
ED1 COMDTY      98.9975                     NaN
MSFT US EQUITY  62.5800  Information Technology

In [12]:
# Single SID, Multiple Valid Fields
resp = LocalTerminal.get_historical('MSFT US EQUITY', ['PX_LAST'], start='1/1/2014', end='3/1/2014')
resp.as_frame().head()

           MSFT US EQUITY
                  PX_LAST
date
2014-01-02          37.16
2014-01-03          36.91
2014-01-06          36.13
2014-01-07          36.41
2014-01-08          35.76

In [10]:
# Multiple SIDs, Multiple Valid Fields
resp = LocalTerminal.get_historical(['IBM US EQUITY', 'MSFT US EQUITY'], ['PX_OPEN', 'PX_LAST'], start='1/1/2014', end='3/1/2014')
resp.as_frame().head()

           IBM US EQUITY         MSFT US EQUITY
                 PX_OPEN PX_LAST        PX_OPEN PX_LAST
date
2014-01-02        187.21  185.53         37.350   37.16
2014-01-03        185.83  186.64         37.200   36.91
2014-01-06        187.15  186.00         36.850   36.13
2014-01-07        186.39  189.71         36.325   36.41
2014-01-08        189.33  187.97         36.000   35.76

In [11]:
# Weekly data
resp = LocalTerminal.get_historical(['IBM US EQUITY', 'MSFT US EQUITY'], ['PX_OPEN', 'PX_LAST'], 
                                         start='1/1/2014', end='3/1/2014', period='WEEKLY')
resp.as_frame().head()

           IBM US EQUITY         MSFT US EQUITY
                 PX_OPEN PX_LAST        PX_OPEN PX_LAST
date
2014-01-03       185.320  186.64          37.22  36.910
2014-01-10       187.150  187.26          36.85  36.040
2014-01-17       186.260  190.09          35.99  36.380
2014-01-24       190.230  179.64          36.82  36.805
2014-01-31       179.605  176.68          36.87  37.840

# Using the Data Manager

In [14]:
import pandas as pd
import tia.bbg.datamgr as dm

In [17]:
# create a DataManager for simpler api access
mgr = dm.BbgDataManager()
# retrieve a single security accessor from the manager
msft = mgr['BHIH7 COMDTY']

In [18]:
#  Can now access any Bloomberg field (as long as it is upper case)
msft.PX_LAST, msft.PX_OPEN

(221.5, 223.0)